NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_VOIDANCE_CONTRACT_ADDRESS=0x9a6bCe6a759c6E9ca20d90ca593B759CfC5E4f77
NEXT_PUBLIC_CHAIN_ID=61999
NEXT_PUBLIC_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=replace-with-your-walletconnect-project-id
